<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Recognised Attendence</title>

<!--    bootstrap cdn link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
    sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!--google font link-->

<!--include style.css here-->
    <link href="../static/style.css", rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
<!--below row is for navbar-->
        <div class="row">
            <div class="container">
                    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                        <a class="navbar-brand" href="#">
                <img src="../static/images/companylogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
                Company Name
            </a>
            <span class="navbar-text mx-auto">
                Face Recognised attendence system
            </span>
            <div class="d-flex", style="margin-right:20px ">
                <span class="navbar-text mr-2" style="margin-right:5px">
                    Date: 26/10/2023, Wednesday
                </span>
                <span class="navbar-text">
                Time: 09:09 AM
                </span>

            </div>
            <button class="btn my-2 my-sm-0" style="margin-right:20px">Admin Login</button>

                    </header>
              </div>
        </div>
<!--below row is the body of the website-->
        <div class="row">
            <div class="col">
                  <h1>Attendence Log box</h1>
                </div>
            <div class="col">
                <div class="row">
                    <h1>New User Registration box</h1>
                </div>
                <div class="row">
                   <h1>Total Users lists</h1>
                </div>
            </div>
        </div>
    </div>

</body>
</html>