<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Face Recognised Attendence</title>
    <!--bootstrap cdn link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
    sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--google font link-->

    <!--include style.css here-->
    <link href="https://fonts.cdnfonts.com/css/brittany-signature" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/index-styles.css">
    <link href="../static/style.css" , rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <!--below row is for navbar-->
        <div class="row">
            <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-center py-1 mb-3 border-bottom">
                    
                        <img src="../static/images/companylogo.jpg" width="70" height="70" class="d-inli
                            ne-block align-top" alt="Company Logo">
                   
                    <span class="navbar-text fw-semibold  fs-2 mx-auto ">
                        Face Recognition Attendance System
                    </span>

                    <button type="button" id="adminloginbtn" class="gap-2 btn btn-outline-primary fs-5 my-3">Admin Login</button>
                </header>
                <div class="d-flex justify-content-start fs-5 align-items-center mx-3 pb-4" >
                    <span class="navbar-text mr-2" style="margin-right:5px">
                        Date : 
                    </span>
                    <span id="currDate"></span>
                   
                </div>
            </div>
        </div>
        <!--below row is the body of the website-->
        <div class="row">
            <!-- <p class="text-end">{{mess}}</p> -->
            <div class="col text-center rounded mx-4"
                style="padding: 0px;background-color:rgb(211,211,211,0.5);">
                <h2 class="text-bg-primary fs-3 py-3 mb-3 px-4 rounded light mx-auto text-center">Today's
                    Attendance <i class="material-icons">assignment</i></h2>
                <a class="center d-flex justify-content-center" style="text-decoration: none;" href="/start">
                    <button id='Abutton' type='submit'
                        class='d-flex justify-content-center align-items-center gap-2 btn btn-outline-primary fs-5 my-3  '>Take
                        Attendance <i class="material-icons">beenhere</i></button>
                </a>
                <div class="mx-4 my-3">
                <table class="table table-hover table-bordered  py-2 px-2" style="background-color: white;">
                    <thead>
                        <tr class="table-primary">
                          <th scope="col">S.No</th>
                          <th scope="col">Name</th>
                          <th scope="col">ID</th>
                          <th scope="col">Time</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Harry</td>
                          <td>123</td>
                          <td>@time</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        
                      </tbody>
                   
                    <!-- {% if l %}

                        {% for i in range(l) %} -->
                    <!-- <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ names[i] }}</td>
                        <td>{{ rolls[i] }}</td>
                        <td>{{ times[i] }}</td>
                    </tr> -->
                    <!-- {% endfor %}
                        {% endif %} -->
                </table>
            </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col text-center rounded mx-4"
                    style="padding: 0px;background-color:rgb(211,211,211,0.5);">
                        <h2 class="text-bg-primary fs-3 py-3 mb-3 px-4 rounded light mx-auto text-center">Add
                            New User <i class="material-icons">control_point_duplicate</i></h2>
                        <form class="my-4" action='/add' method="POST" enctype="multipart/form-data">
                            
                            <div class="row mb-3 d-flex align-items-center justify-content-start">
                                <label for="inputEmail3" class="fs-5 fw-bolder col-sm-6 col-form-label">Enter New User Name*</label>
                                <div class="col-sm-2">
                                    <input type="text" id="newusername" name='newusername'>
                                </div>
                            </div>
                            <div class="row mb-3 d-flex align-items-center justify-content-start">
                                <label for="inputPassword3" class="fs-5 fw-bolder col-sm-6 col-form-label">Enter New User ID*</label>
                                <div class="col-sm-2">
                                    <input type="text" id="newusereid" name='newuserid' required>
                                </div>
                            </div>
                   

                    <div class="d-flex justify-content-center align-items-center">

                        <button id="add" type='submit' class=' gap-2 btn btn-outline-primary fs-5 my-3'>Add New User
                        </button>
                    </div>
                    <br>
                    <!-- <a href="">Add multiple users</a> -->

                    <!-- <h5><i>Total Users in Database: {{totalreg}}</i></h5> -->
                    <h5><i>Total Users in Database: 56</i></h5>
                    </form>
              
                </div>
                </div>
            </div>
            </div>
                <!--                            <h1>New User Registration box</h1>-->
            </div>
            <div class=" text-center py-4 pt-5">
                <h1 class="fs-4 ">Total Registered Users lists</h1>
            </div>

            <div class="mx-5">
            <table class="table table-hover table-bordered  py-2 px-2" style="background-color: white;">
                <thead>
                    <tr class="table-primary">
                      <th scope="col">S.No</th>
                      <th scope="col">Name</th>
                      <th scope="col">ID</th>
                      <th scope="col">Time</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Harry</td>
                      <td>123</td>
                      <td>@time</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    
                  </tbody>
               
                <!-- {% if l %}

                    {% for i in range(l) %} -->
                <!-- <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ names[i] }}</td>
                    <td>{{ rolls[i] }}</td>
                    <td>{{ times[i] }}</td>
                </tr> -->
                <!-- {% endfor %}
                    {% endif %} -->
            </table>
        </div>

        </div>
    </div>



    <!--footer-->
    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-2 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023, Face Recognition Attendence System</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg></a></li>
            </ul>
        </footer>
    </div>


    </div>

    <script>
         var now = new Date();
         var datetime = now.toLocaleString();

         document.getElementById('currDate').innerHTML = datetime;

        var button = document.getElementById('adminloginbtn');
        button.addEventListener('click', function() {
            window.location.href = '/templates/adminlogin.html';
        });

        </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>