{% include "header.html" %}
<body>
    <div class="container-fluid">
            <div class="row">
                <!-- Left Side -->
                <div class="col-md-6">
                    <div class="section">
                        <h2>Left Section</h2>
                        <p>This is the left section content.</p>
                    </div>
                </div>
                <!-- Right Side -->
                <div class="col-md-6">
                    <div class="row">
                        <!-- Right Top Section -->
                        <div class="col-md-12">
                            <div class="section">
                                <h2>Right Top Section</h2>
                                <p>This is the right top section content.</p>
                            </div>
                        </div>
                        <!-- Right Bottom Section -->
                        <div class="col-md-12">
                            <div class="section">
                                <h2>Right Bottom Section</h2>
                                <p>This is the right bottom section content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>