<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- As a link -->
<nav class="navbar navbar-light bg-danger">
  <a class="navbar-brand" href="#">FACE RECOGNITION + ATTENDANCE PROJECT by Sonu</a>
</nav>

  <nav class="navbar navbar-light bg-success">
    <span class="navbar-brand mb-0 h1" >FACE RECOGNITION + ATTENDANCE PROJECT</span>
  </nav>

<div class="container">
<br>
  <div class="mx-auto" style="width: 600px;">
  <h2>Upload Your picture for Attendance</h2>
</div>

<br><br><br>

  <form action="/success" method="post" enctype="multipart/form-data">

 <div class="input-group mb-3" >

  <input type="file" name="file" class="form-control" id="inputGroupFile02">

   <div class="col-auto">
    <button type="submit" value="Upload" class="btn btn-primary mb-3">Submit</button>
  </div>

 </div>
</form>
</div>

<div class="mx-auto" style="width: 1150px;">
<ul>
    <li class="text-danger">Please Upload Png, Jpg, Jpeg, Gif Format only</li>
    <li class="text-danger">Rename your image to your name before upload</li>
 </ul>
</div>

<div class="mx-auto" style="width: 150px;">
  <a href="http://127.0.0.1:5000/index">
   <button type="button" class="btn btn-success">Start camera</button>
</a>
</div>


<p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021 by sonu</p>
</body>
</html>
